#what .items {
    display: block;
    padding: 1rem;
}

/* Align icon to left */

#what .items .item {
    display: flex;
    text-align: left;
}

/* Position icon */

#what .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

/* Navbar */
#navbar {
    padding-bottom: 0;
}

#navbar ul {
    flex-direction: row;
    align-items: center;
}

#navbar ul li {
    text-align: left;
    /* padding: 0.8rem; */
}

#navbar ul li a {
    /* font-size: 0.6rem; */
}
/* SmartPhones */

@media (max-width: 500px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar .logo {
        margin-bottom: 1rem;
        text-align: center;
    }

    #navbar ul {
        padding: 0.5rem;
    }

    #showcase {
        height: 80vh;
    }

    #showcase .showcase-content {
        top: 150px;
    }

    /* Before */
    .p-3 {
        padding: 1rem;
    }

    .container .art-image img {
        width: 80vh;
        height: auto;
    }

    .container .main-section p {
        width: 100%;
        padding-left: 0;
    }

    #who {
        display: block;
    }

    #who .who-img {
        display: none;
    }

    #clients .items img {
        width: 80%;
    }

    #clients .items div:last-child {
        display: none;
    }

    #contact {
        display: block;
    }

    #contact .map {
        height: 200px;
        border-top: 3px solid #333333;
    }
    .l-heading {
        font-size: 2rem;
    }
    .lead {
        font-size: 1rem;
    }
}

@media (max-height: 568px) {
    .l-heading {
        font-size: 2rem;
    }
    .lead {
        font-size: 1rem;
    }
    #showcase .showcase-content {
        margin-top: 2rem;
        top: 155px;
    }
}
